body {
    background: var(--cor-1);
    color: var(--cor-2);
    margin: 0;
}

h1,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor-2);
}

/* container and grid-two-col */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 30px;
}

.grid-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* button */

.btn {
    border: 1px solid var(--cor-2);
    padding: 15px;
    background: transparent;
    max-width: max-content;
}

.btn:hover {
    background: var(--cor-2);
    color: var(--cor-0);
}

/* media query 800px */

@media (max-width: 800px) {
    /* btn */
    .btn {
        padding: 10px;
    }

    /* container and grid-two-col */
    .container {
        padding: 10px;
    }

    .grid-two-col {
        grid-template-columns: 1fr;
    }

}