#header {
    background: var(--cor-1);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navegation {
    display: flex;
    gap: 60px;
    background-color: var(--cor-1);
}


/* media query 800px */

@media (max-width: 800px) {
    .header-container {
        justify-content: center;
        padding: 20px;
    }

    .header-navegation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: fixed;
        padding: 15px;
        bottom: 0px;
    }
}