.intro-container {
    align-items: end;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

/* media query 800px */

@media (max-width: 800px) {

    #intro {
        display: flex;
        justify-content: center;
    }

    .intro-container,
    .intro-text {
        align-items: center;
        text-align: center;
    }
    
    .intro-text {
        order: 2;
    }

    .intro-img img {
        order: 1;
        max-width: 100%;
        max-height: 300px;
    }
}