.story-container {
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding: 100px;
}

.story-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 80px 30px;
    width: 68ch;
}

.story-img {
    max-width: 100%;
    object-fit: cover;
}